@charset "UTF-8";
*{
	margin: 0px;
	padding:0px;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none; color:#ffffff;
}
#header{
	width: 100%;
	height: 80px;
	background-color: blue;
	color: white;
	text-align: center;
	line-height: 80px;
}

#nav{
	width:100%;
	height:40px;
	line-height:40px;
	background-color:#6094ff;
	color: white;
}
#nav ul li a{
	float: left;
	padding:0 10px;
}
.section{
	width:100%;
	height:100%;
	background-color:#e6e6e6;
	position: fixed;
}

.section p{
	padding:10px;
}
.section h2{
	text-align:center;
	margin: 20px;
}
#footer{
	position: absolute;
	width:100%;
	height:30px;
	background-color:blue;
	color:white;
	line-height:30px;
	text-align:center;
	font-size: 11px;
	bottom: 0;
}
.table_line{
	margin: 0 auto;
	overflow-y: auto;
	border: 1px solid gray;
}
.table_line th, .table_line td{
	padding: 5px;
	border: 1px solid gray;
}
.table_line .center td{
	text-align: center;
}